[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
pexpect = "*"
funcy = "*"
ipython = "*"
easysnmp = "*"
multiprocess = "*"
"py2neo" = "*"
toolz = "*"

[dev-packages]
"flake8" = "*"
ptpython = "*"
yapf = "*"

[requires]
python_version = "3.6"
